<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="    https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=DM+Serif+Display&family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Protest+Revolution&family=Roboto+Slab:wght@100..900&family=Song+Myung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="top">Attendance Tracker</div>
    <div id="box">
            <div class="student into">
                <a href="#">
                    <div class="prof" style="background-image: url(logo-2.png);"></div>
                    <div class="bott">For Student's</div>
                </a>
            </div>
        
            <div class="teacher into">
                <a href="#">
                    <div class="prof" style="background-image: url(teacher.png);"></div>
                    <div class="bott">For Teacher's</div>
                </a>
            </div>
    </div>
    <div id="foot">
        <div class="icons">
            <a href="#"><div class="iconbox"><i class="fa-brands fa-linkedin-in"></i></div></a>
            <a href="#"><div class="iconbox"><i class="fa-brands fa-twitter"></i></div></a>
            <a href="#"><div class="iconbox"><i class="fa-brands fa-git"></i></div></a>
            <a href="#"><div class="iconbox"><i class="fa-brands fa-instagram"></i></div></a>
        </div>
        <i class="fa-regular fa-copyright"></i> 2024
        Attendance Tracker India, All rights reserved.
    </div>
</body>
</html>