<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance-Tracker Teacher-Signup</title>
    <link rel="stylesheet" href="    https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=DM+Serif+Display&family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Protest+Revolution&family=Roboto+Slab:wght@100..900&family=Song+Myung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="techPage.css">
    <link rel="stylesheet" href="footer.css">
</head>
<body>
    <div class="top">Attendance Tracker</div>
    <div class="prof">

        <div class="profImage"></div>
        <div class="about margin">
            <p>E-mail : abc@gmail.com</p>
            <p>Name : Abcd @ gamil</p>
        </div>

        <div class="about margin">
            <button class="new">CSE-01</button>
            <button class="new">CSE-03</button>
            <button class="new newSub">Add New Class</button>
        </div>


        <!-- FORM FOR SUBJECt -->
    <form class="subform" style="display: none;" method="post" action="/newsubject">
        <input name="newSubject" placeholder="CSE-03">
        <button type="submit">Submit
    </form>
        



    </div>
    
    <div id="attend">
        <div id="stcol">
            <div class="topBar margin">
                <div class="stName stColorTop centerItems" style="width: 25%;"> Student's Name</div>
                <div class="stRoll stColorTop centerItems" style="width: 17%;"> Student's Roll No.</div>
                <div class="stTotal stColorTop centerItems" style="width: 8%;">Total</div>
                <div class="stAttend stColorTop centerItems" style="width: 8%;">Attended</div>
                <div class="stPer stColorTop centerItems" style="width: 8%;">%age</div>
                <div class="stPrev stColorTop centerItems" style="width: 10%;">Previous Day</div>
                <div class="stTod stColorTop centerItems" style="width: 10%;"><button class="new">Today's Class</button></div>
            </div>
            <div class="box2 margin">
                <div class="stName stColor" style="width: 25%;">
                    <div class="data margin">Abcdefghijklmnopq</div>
                    <div class="data margin">Abcdefghijklmnopq</div>
                    <div class="data margin">Abcdefghijklmnopq</div>
                    <div class="data margin">Abcdefghijklmnopq</div>
                    <div class="data margin">Abcdefghijklmnopq</div>
                    <div class="data margin">Abcdefghijklmnopq</div>
                    <div class="data margin">Abcdefghijklmnopq</div>
                    <div class="data margin">Abcdefghijklmnopq</div>
                    <div class="data margin">Abcdefghijklmnopq</div>
                    <div class="data margin">Abcdefghijklmnopq</div>
                    <div class="data margin">Abcdefghijklmnopq</div>
                    <div class="data margin">Abcdefghijklmnopq</div>
                </div>
                <div class="stRoll stColor" style="width: 17%;">
                    <div class="data margin">1245685322145</div>
                    <div class="data margin">4452158966321</div>
                    <div class="data margin">7844521759632</div>
                    <div class="data margin">1245685322145</div>
                    <div class="data margin">4452158966321</div>
                    <div class="data margin">1245685322145</div>
                    <div class="data margin">4452158966321</div>
                    <div class="data margin">7844521759632</div>
                    <div class="data margin">7844521759632</div>
                    <div class="data margin">1245685322145</div>
                    <div class="data margin">4452158966321</div>
                    <div class="data margin">7844521759632</div>
                </div>
                <div class="stTotal stColor" style="width: 8%;">
                    <div class="data margin to1">24</div>
                    <div class="data margin to2">24</div>
                    <div class="data margin to3">24</div>
                    <div class="data margin to4">24</div>
                    <div class="data margin to5">24</div>
                    <div class="data margin to6">24</div>
                    <div class="data margin to7">24</div>
                    <div class="data margin to8">24</div>
                    <div class="data margin to9">24</div>
                    <div class="data margin to10">24</div>
                    <div class="data margin to11">24</div>
                    <div class="data margin to12">24</div>
                </div>
                <div class="stAttend stColor" style="width: 8%;">
                    <div class="data margin at1">21</div>
                    <div class="data margin at2">8</div>
                    <div class="data margin at3">15</div>
                    <div class="data margin at4">19</div>
                    <div class="data margin at5">16</div>
                    <div class="data margin at6">24</div>
                    <div class="data margin at7">9</div>
                    <div class="data margin at8">18</div>
                    <div class="data margin at9">12</div>
                    <div class="data margin at10">10</div>
                    <div class="data margin at11">13</div>
                    <div class="data margin at12">20</div>
                </div>
                <div class="stPer stColor" style="width: 8%;">
                    <div class="data margin per1"></div>
                    <div class="data margin per2"></div>
                    <div class="data margin per3"></div>
                    <div class="data margin per4"></div>
                    <div class="data margin per5"></div>
                    <div class="data margin per6"></div>
                    <div class="data margin per7"></div>
                    <div class="data margin per8"></div>
                    <div class="data margin per9"></div>
                    <div class="data margin per10"></div>
                    <div class="data margin per11"></div>
                    <div class="data margin per12"></div>
                </div>
                <div class="stPrev stColor" style="width: 10%;">
                    <div class="data margin">Present</div>
                    <div class="data margin">Absent</div>
                    <div class="data margin">Absent</div>
                    <div class="data margin">Present</div>
                    <div class="data margin">Absent</div>
                    <div class="data margin">Absent</div>
                    <div class="data margin">Present</div>
                    <div class="data margin">Absent</div>
                    <div class="data margin">Absent</div>
                    <div class="data margin">Present</div>
                    <div class="data margin">Absent</div>
                    <div class="data margin">Absent</div>
                </div>
                <div class="stTod stColor" style="width: 10%;">
                    <div class="data margin"></div>
                    <div class="data margin"></div>
                    <div class="data margin"></div>
                    <div class="data margin"></div>
                    <div class="data margin"></div>
                    <div class="data margin"></div>
                    <div class="data margin"></div>
                    <div class="data margin"></div>
                    <div class="data margin"></div>
                    <div class="data margin"></div>
                    <div class="data margin"></div>
                    <div class="data margin"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="downl">
        <button class="new mar">Add New</button>
        <button class="new mar">Print All</button>
        <button class="new mar">Detained</button>
        <button class="new mar">Submit</button>
    </div>


    <div id="foot">
        <div class="icons">
            <a href="#"><div class="iconbox"><i class="fa-brands fa-linkedin-in"></i></div></a>
            <a href="#"><div class="iconbox"><i class="fa-brands fa-twitter"></i></div></a>
            <a href="#"><div class="iconbox"><i class="fa-brands fa-git"></i></div></a>
            <a href="#"><div class="iconbox"><i class="fa-brands fa-instagram"></i></div></a>
        </div>
        <i class="fa-regular fa-copyright"></i> 2024
        Attendance Tracker India, All rights reserved.
    </div>

    <script>
        let i=0;

        function perColor(elementP,perst){
            if(perst<75){
                elementP.style.backgroundColor='rgb(285, 143, 143)';
            }
        }

        for(i=1;i<=12;i++){
            let elementT=document.querySelector(`.to${i}`)
            let elementA=document.querySelector(`.at${i}`)
            let elementP=document.querySelector(`.per${i}`)
            let perst=((elementA.innerHTML/elementT.innerHTML)*100).toFixed(2);
            console.log(perst);
            elementP.innerHTML=perst;
            perColor(elementP,perst);
        }

        let subForm=document.querySelector(".subform");
        let newSub=document.querySelector(".newSub");
        let attend=document.querySelector("#attend");
        newSub.addEventListener("click",function(){
            if(subForm.style.display==="block"){
                subForm.style.display="none";
                attend.style.opacity="1";
            }
            else{
                attend.style.opacity="0.2";
            subForm.style.display="block";
            }
        })


    </script>
</body>
</html>