<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance-Tracker-Student-Login</title>
    <link rel="stylesheet" href="    https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=DM+Serif+Display&family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Protest+Revolution&family=Roboto+Slab:wght@100..900&family=Song+Myung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="footer.css">
</head>
<body>
    <div class="top">Attendance Tracker</div>
    <div id="box">
        <div class="log centerItems"><p>Teacher's Login</p></div>
        <form>
            <div class="allInputs centerItems">
                <input name="sRollNo" class="inputs" placeholder="Teacher's E-mail">
                <div class="branch">
                    <input name="year" class="inputs" placeholder="Year" style="width: 100px;">
                    <input name="semester" class="inputs" placeholder="Semester" style="width: 100px;">
                    <input name="section" class="inputs" placeholder="Section" style="width: 100px;">
                </div>
                <input name="sName" class="inputs" type="password" placeholder="Password">                
                <button type="submit" class="check">Login</button>
            </div>
        </form>
        <div class="logins" style="display: flex;">
            <div class="tec centerItems" style="width: 160px;"><a href="http://localhost:8080/teacher_signup" class="teach">Teacher's Signup</a></div>
            <div class="tec centerItems" style="width: 160px;"><a href="http://localhost:8080/student_login" class="teach">Student's Login</a></div>
        </div>
    </div>
    <div id="foot">
        <div class="icons">
            <a href="#"><div class="iconbox"><i class="fa-brands fa-linkedin-in"></i></div></a>
            <a href="#"><div class="iconbox"><i class="fa-brands fa-twitter"></i></div></a>
            <a href="#"><div class="iconbox"><i class="fa-brands fa-git"></i></div></a>
            <a href="#"><div class="iconbox"><i class="fa-brands fa-instagram"></i></div></a>
        </div>
        <i class="fa-regular fa-copyright"></i> 2024
        Attendance Tracker India, All rights reserved.
    </div>
</body>
</html>