<div id="foot">
    <div class="icons">
        <a href="#"><div class="iconbox"><i class="fa-brands fa-linkedin-in"></i></div></a>
        <a href="#"><div class="iconbox"><i class="fa-brands fa-twitter"></i></div></a>
        <a href="#"><div class="iconbox"><i class="fa-brands fa-git"></i></div></a>
        <a href="#"><div class="iconbox"><i class="fa-brands fa-instagram"></i></div></a>
    </div>
    Designed And Created By Vishal Paswan.<br>
    <i class="fa-regular fa-copyright"></i> 2024
    Attendance Tracker India, All Rights Reserved.
</div>