<div id="foot">
    <div class="icons">
        <a href="https://www.linkedin.com/in/vishal-paswan-59772925b"><div class="iconbox"><i class="fa-brands fa-linkedin-in"></i></div></a>
        <a href="https://x.com/VishalPaswan24"><div class="iconbox"><i class="fa-brands fa-twitter"></i></div></a>
        <a href="https://github.com/VishalPaswan2402"><div class="iconbox"><i class="fa-brands fa-git"></i></div></a>
        <a href="https://www.instagram.com/imvishal2402?igsh=cjEwZWFvZHRvdXM3"><div class="iconbox"><i class="fa-brands fa-instagram"></i></div></a>
    </div>
    Designed And Created By Vishal Paswan.<br>
    <i class="fa-regular fa-copyright"></i> 2024
    Attendance Tracker India, All Rights Reserved.
</div>