*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.top{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
    margin: 5px;
    text-align: center;
    color: blueviolet;
    /* color: white; */
}
.loginbox{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    margin-top: 1rem;
}
.card{
    border: 2px solid black !important; 
    display: flex;
    align-items: center;
}
.iconImg{
    height: 10rem;
    width: 10rem !important;
    margin-top: 0.5rem;
}
@media(min-width:430px) and (max-width:500px){
    .top{
        font-size: 2.7rem;
    }
}
@media(min-width:330px) and (max-width:430px){
    .top{
        font-size: 2.4rem;
    }
}