<!DOCTYPE html>
<html lang="en">
<%- include('../headFoot/head.ejs') %>
<title>Attendance-Tracker Home Page</title>
<link rel="stylesheet" href="/cssFolder/home.css">
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navBag">
      <div class="container-fluid">
        <a class="navbar-brand logo" href="/"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active textSize" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link textSize" href="/Attendance-Tracker/userGuide">User Guide</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <!-- Flash message -->
  <%- include('../headFoot/flashMsg.ejs') %>
  <!-- Flash message -->

  <div class="top">Attendance Tracker</div>
          <div id="flexBox">
              <div class="loginbox">
                <div class="card" style="width: 18rem;">
                    <img src="/imageFolder/student.png" class="card-img-top iconImg">
                    <div class="card-body">
                      <a href="/Attendance-Tracker/Students-Login" class="btn btn-primary">Student's Login</a>
                    </div>
                  </div>
              </div>

              <div class="loginbox">
                <div class="card" style="width: 18rem;">
                    <img src="/imageFolder/teacher.png" class="card-img-top iconImg">
                    <div class="card-body">
                      <a href="/Attendance-Tracker/Teacher-Login" class="btn btn-primary">Teacher's Login</a>
                    </div>
                </div>
              </div>
          
              <div class="loginbox">
              <div class="card" style="width: 18rem;">
                  <img src="/imageFolder/colleges.png" class="card-img-top iconImg">
                  <div class="card-body">
                    <a href="/Attendance-Tracker/College-Login" class="btn btn-primary">College Login</a>
                  </div>
              </div>
            </div>
          </div>
  <%-include('../headFoot/footer.ejs')%>

  <script src="/scriptFolder/inputData.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>