#foot{
    height: 60px;
    width: 90%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    display: table;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 25px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icons{
    display: flex;
    height: 30px;
    width: 180px;
    justify-content: space-evenly;
   /* background-color: blue; */
   margin:3px auto;
}
.icons a{
    text-decoration: none;
}
.iconbox{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    transition: 1s;
    border: 1px solid blue;
}
.iconbox:hover{
    background-color: #a8edea;
    color: black;
}

.cardLog{
    margin: 5px auto;
    align-items: center;
    text-align: center;
}
.allBtns{
    margin-top: 10px;
}
.logo{
    background-image: url(/imageFolder/logo.png);
    height: 50px;
    width: 50px;
    background-size: contain;
}
.logo:hover{
    filter: drop-shadow(1px 1px 3px grey);
}
.textSize{
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(194, 192, 192);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup {
    position: fixed;
    z-index: 10000;
}
.alert-success::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(15, 179, 0);
    animation: borderSuccess 3s forwards;
}
input[type="text"] {
    text-transform: capitalize; /* Capitalize first letter of each word */
}
@keyframes borderSuccess {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}
.alert-danger::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 0, 0);
    animation: borderError 3s forwards;
}

@keyframes borderError {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}