*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.centerItems{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    font-weight: 600;
}
.top{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
    margin: 5px;
    text-align: center;
    color: blueviolet;
}
#box{
    height: 400px;
    width: 500px;
    /* background-color: pink; */
    margin: 10px auto;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 8px gray;
}
.log{
    font-size: 2.2rem;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    padding-top: 10px;
    color: blue;
}
.allInputs{
    /* background-color: red; */
    display: grid;
}
.inputs{
    height: 35px;
    width: 400px;
    font-size: 1.2rem;
    padding-left: 10px;
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 15px;
}
.input2{
    width: 170px;
}
.input3{
    width: 170px;
}
.branch{
    display: flex;
    justify-content: space-between;
}
.check{
    height: 35px;
    width: 240px;
    margin:15px auto;
    font-size: 1.3rem;
    font-weight: 600;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgb(197, 229, 240);
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.check:hover{
    background-color: aquamarine;
}
.tec{
    width: 140px;
    margin: auto;
    /* background-color: red; */
}
.teach{
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.teach:hover{
    color: brown;
}


@media(min-width:420px) and (max-width:530px){
    #box{
        height: 400px;
        width: 400px;
    }
    .inputs{
        height: 35px;
        width: 350px;
    }
    .top{
        font-size: 2.5rem;
    }
    .input3{
        width: 155px;
    }
    .input2{
        width: 150px;
    }
    .check{
        width: 200px;
        font-size: 1rem;
    }
}

@media(min-width:320px) and (max-width:420px){
    #box{
        height: 400px;
        width: 300px;
    }
    .inputs{
        height: 35px;
        width: 270px;
        font-size: 1rem;
    }
    .top{
        font-size: 2rem;
    }
    .input3{
        width: 130px;
    }
    .teach{
        font-size: 1rem;
    }
    .input2{
        width: 120px;
    }
    .teclog{
        font-size: 1.8rem;
    }
    .check{
        width: 170px;
        font-size: 0.95rem;
    }
}