*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.margin{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.centerItems{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    font-weight: 600;
}
.top{
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 3.3rem;
    text-align: center;
    color: blueviolet;
}
.prof{
    height: 120px;
    width: 80%;
    margin: 15px auto;
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 8px gray;
}
.about{
    height: 30px;
    width: 100%;
    padding-left: 25px;
}
.about p{
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.new{
    height: 28px;
    border: 2px solid black;
    width: 180px;
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.new:hover{
    background-color: blueviolet;
    color: white;
}
#attend{
    height: 335px;
    width: 87%;
    border: 2px solid rgb(173, 173, 173);
    margin: auto;
    z-index: -10;
    overflow: auto;
    display: flex;
    text-align: start;
    box-shadow: 1px 1px 8px gray;
}
#stcol{
    width: 100%;
}
.topBar{
    height: 30px;
    width: 100%;
    box-shadow: 2px 2px 5px gray;
    position: sticky;
    top: 0px;
}
#editIcons{
    font-size: 1.6rem;
    margin-left: 8px;
    margin-bottom: 10px;
}

.editAttSt{
    text-decoration: none;
    color: #c2bebe;
    cursor: pointer;
    width: 3%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 7px;
    height: 30px;
}
.editAttSt:hover{
    color: blue;
}
.box2{
    width: 100%;
    margin-top: 5px;
}
.stColorTop{
    background-color: rgb(137, 222, 248);
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.stColor{
    height: 100%;
}
.studName{
    width: 25%;
}
.norWidth{
    width: 10%;
}
.norWidth1{
    width: 17%;
}
.norWidth3{
    width: 10%;
}
.data{
    height: 30px;
    width: 100%;
    background-color: #e3e3e3;
    margin-top: 7px;
    font-size: 1.3rem;
    font-family: monospace;
}
#downl{
    height: 30px;
    width: 87%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.mar{
    margin-right:28px;
    background-color: rgb(137, 222, 248);
    width: 180px;
}
.preP{
    background-color: rgb(219, 252, 169)
}
.absA{
    background-color: rgb(249, 184, 194);
}
.present{
    height: 28px;
    width: 56px;
    border-radius: 5px;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preP:hover{
    background-color: rgb(1, 188, 1);
    color: white;
}
.absA:hover{
    background-color: rgb(228, 29, 59);
    color: white;
}
.preColor{
    background-color: transparent;
}
#studentForm{
    position: absolute !important;
    top: 250px;
    left: 39%;
    z-index: 10000;
    display: none;
}
#deleteClass{
    position: absolute !important;
    top: 33%;
    left: 40%;
    z-index: 10000;
    display: none;
}
#alertSt{
    color: red;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.formCard{
    border: 2px solid black;
    box-shadow: 0px 1px 10px rgb(192, 192, 192);
}
.form-control{
    border: 2px solid rgb(182, 180, 180);
}
#SubAttend,#notMarkedAtt{
    position: absolute;
    top: 33%;
    left: 40%;
    z-index: 10000;
    display: none;
}
#filterStudentForm{
    position: absolute;
    top: 39%;
    left: 38%;
    z-index: 10000;
    display: none;
}

@media(min-width:1180px) and (max-width:1250px){
    .prof{
        width: 85%;
    }
    #attend{
        width: 97%;
    }
    #downl{
        width: 97%;
    }
}
@media(min-width:1000px) and (max-width:1180px){
    .prof{
        width: 85%;
        height: 90px;
    }
    #attend{
        width: 97%;
    }
    #downl{
        width: 97%;
    }
    .tabHide1{
        display: none;
    }
    .studName{
        width: 29%;
    }
    .norWidth{
        width: 10%;
    }
    .norWidth1{
        width: 17%;
    }
    .norWidth3{
        width: 14%;
    }
    .about p{
        font-weight: 550;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1rem;
    }
    .colName{
        display: none;
    }
    .top{
        font-size: 2.4rem;
    }
}
@media(min-width:600px) and (max-width:1000px){
    .prof{
        width: 95%;
        height: 90px;
    }
    .about p{
        font-weight: 550;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1rem;
    }
    .colName{
        display: none;
    }
    .tabHide1{
        display: none;
    }
    #attend{
        height: 335px;
        width: 95%;
    }
    .tabHide{
        display: none;
    }
    .norWidth{
        width: 16%;
    }
    .norWidth1{
        width: 28%;
    }
    .norWidth3{
        width: 20%;
    }
    .top{
        font-size: 2.3rem;
    }
    #SubAttend,#notMarkedAtt{
        position: absolute;
        top: 33%;
        left: 28%;
        z-index: 10000;
        display: none;
    }
}
@media(min-width:450px) and (max-width:650px){
    .prof{
        width: 95%;
        height: 55px;
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 1px 1px 8px gray;
    }
    .about p{
        font-weight: 550;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1rem;
    }
    .colName{
        display: none;
    }
    #attend{
        height: 335px;
        width: 95%;
    }
    .tabHide{
        display: none;
    }
    .mobHide{
        display: none;
    }
    .norWidth{
        width: 22%;
    }
    .norWidth1{
        width: 35%;
    }
    .norWidth3{
        width: 35%;
    }
    .data{
        font-size: 1rem;
        font-weight: 500;
    }
    .stColorTop{
        font-family:monospace;
        font-size: 0.9rem;
    }
    .centerItems{
        font-weight: 550;
    }
    .top{
        font-size: 2.1rem;
    }
    #SubAttend,#notMarkedAtt{
        position: absolute;
        top: 33%;
        left: 20%;
        z-index: 10000;
        display: none;
    }
}
@media(min-width:350px) and (max-width:450px){
    .prof{
        width: 95%;
        height: 55px;
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 1px 1px 8px gray;
    }
    .about p{
        font-weight: 550;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.8rem;
    }
    .colName{
        display: none;
    }
    #attend{
        height: 335px;
        width: 95%;
    }
    .tabHide{
        display: none;
    }
    .mobHide{
        display: none;
    }
    .norWidth{
        width: 22%;
    }
    .norWidth1{
        width: 35%;
    }
    .norWidth3{
        width: 35%;
    }
    .data{
        font-size: 0.8rem;
        font-weight: 500;
    }
    .stColorTop{
        font-family:monospace;
        font-size: 0.7rem;
    }
    .centerItems{
        font-weight: 550;
    }
    .top{
        font-size: 1.7rem;
    }
    #SubAttend,#notMarkedAtt{
        position: absolute;
        top: 33%;
        left: 10%;
        z-index: 10000;
        display: none;
    }
}
@media(min-width:300px) and (max-width:350px){
    .prof{
        width: 95%;
        height: 50px;
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 1px 1px 8px gray;
    }
    .about p{
        font-weight: 550;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 0.7rem;
    }
    .colName{
        display: none;
    }
    #attend{
        height: 335px;
        width: 95%;
    }
    .tabHide{
        display: none;
    }
    .mobHide{
        display: none;
    }
    .norWidth{
        width: 21%;
    }
    .norWidth1{
        width: 35%;
    }
    .norWidth3{
        width: 40%;
    }
    .data{
        font-size: 0.7rem;
        font-weight: 500;
    }
    .stColorTop{
        font-family:monospace;
        font-size: 0.6rem;
    }
    .centerItems{
        font-weight: 550;
    }
    #SubAttend,#notMarkedAtt{
        position: absolute;
        top: 33%;
        left: 0%;
        z-index: 10000;
        display: none;
    }
    .top{
        font-size: 1.5rem;
    }
}

