*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.top{
    font-family: "Charm", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 3.3rem;
    margin: 5px;
    text-align: center;
    color: blueviolet;
}
ul li,ol li,p{
    font-size: 1rem;
    color: rgb(96, 96, 96);
}
h5{
    color: rgb(46, 140, 168);
}
.buttonColor1{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: rgb(131, 131, 21);
}
@media(min-width:500px) and (max-width:700px){
    .top{
     font-size: 2.8rem;
    }
 }
@media(min-width:300px) and (max-width:500px){
    .top{
     font-size: 2.1rem;
    }
 }